<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177386943305-1iji7odilcl2r44dg46i3kfdqush3jfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177386943305-1iji7odilcl2r44dg46i3kfdqush3jfk</string>
	<key>API_KEY</key>
	<string>AIzaSyC9LfFH73rSnQpwlr9wO4a0xabGxw6_UDo</string>
	<key>GCM_SENDER_ID</key>
	<string>177386943305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oleg.taskify</string>
	<key>PROJECT_ID</key>
	<string>taskify-7a91d</string>
	<key>STORAGE_BUCKET</key>
	<string>taskify-7a91d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177386943305:ios:5bbe5d38c559a21ee4a098</string>
	<key>DATABASE_URL</key>
	<string>https://taskify-7a91d.firebaseio.com</string>
</dict>
</plist>